*{ 
  color: gray;
  background-color: white;
  font-size: 75px; 
}

.app-container{
display: flex;
flex-direction: row;
padding-top: 400px;
justify-content: center;

}

.count{
margin:0px 40px 0px 40px;
}


.bttn{
height: 100px;
width:100px;
border:  solid  gray;
border-width: thick;
border-radius: 50%;
outline: none;
}